numpy==2.2.5
pandas==2.2.3
scipy==1.15.2
sympy==1.14.0
matplotlib==3.10.1
seaborn==0.13.2
opencv-python==4.11.0.86
pillow==11.2.1
imutils==0.5.4
tqdm==4.67.1
torch==2.7.0
torchvision==0.22.0
ultralytics==8.3.121
ultralytics-thop==2.0.14
rpimotorlib==3.3
rpi_lgpio==0.6